<div class="hompage">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://thebackpackerz.com/wp-content/uploads/2015/10/JessicaLehrman_Artwork_HipHop-4.jpg');">
    <div class="banner-content">
      <p>
        <span id="banner-typed-text"></span>
      </p>
      <h1>Need hugs and teddy bears?</h1>
      <br><br><br>
      <a class="btn btn-primary btn-lg">Book a rapper</a>
    </div>
  </div>
  <div class="banner-2">
    <h2>Top rappers available !</h2>
    <div class="banner-cards">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="card-home">
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/djntzkorq/image/upload/v1534251699/m7ybwc9h6hgzmrs9pn7u.jpg');">
                <div class="card-description">
                  <h3>Booba</h3>
                  <p>AKA Le Duc de Boulogne</p>
                </div>
                <a class="card-link" href="#" ></a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/djntzkorq/image/upload/v1534251738/k9sdpufryaczhblcyuol.jpg');">
              <div class="card-description">
                <h3>Notorious B.I.G</h3>
                <p>AKA Biggie Smalls</p>
              </div>
              <a class="card-link" href="#" ></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card-home">
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/djntzkorq/image/upload/v1534251725/sojikie8afpb9ebeko3j.jpg');">
                <div class="card-description">
                  <h3>SCH</h3>
                  <p>AKA Le French Lisseur</p>
                </div>
                <a class="card-link" href="#" ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br> <br>
    <a class="btn btn-primary">Book a rapper</a>
  </div>
</div>
