<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://thebackpackerz.com/wp-content/uploads/2015/10/JessicaLehrman_Artwork_HipHop-4.jpg');">
  <div class="banner-content">
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <h1>Need hugs and teddy bears?</h1>
    <br><br><br>
    <a class="btn btn-primary btn-lg">Book a rapper</a>
  </div>
</div>
<div class="banner-2">
  <div class="container">
      <div class="row">
        <div class="col-xs-12-col-sm-4 col-sm-offset-4">
          <h2>Our top rappers available !</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="card-home">
            <img src="db/fixtures/rappers/booba" alt="booba">
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card-home">
            <img src="db/fixtures/rappers/notorious" alt="notorious">
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card-home">
            <img src="db/fixtures/rappers/notorious" alt="vybz">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
