.main-container {
  display: flex;
}
#map {
  flex: 0 0 33%;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
}

.pin2 {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: 115px;

  border-radius: 50%;
  border: 8px solid #fff;
  width: 8px;
  height: 8px;
}

.pin2::after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  bottom: -30px;
  left: -6px;
  border: 10px solid transparent;
  border-top: 17px solid #fff;
}

// .cards-container{
//   flex: 0 0 67%;
//   padding: 0 20px;
// }

@media (max-width: 720px) {
  .main-container {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column !important;
  }
  #map {
    position: relative !important;
    flex: 1 0 auto;
  }
}

